<div class="menucontainer">
    <nav class="menu">
        <ul>
            <li><a href="/pages/about-us.html">About Us</a></li>
            <li><a href="/pages/contact-us.html">Contact Us</a></li>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/portfolio/index.html">Portfolio</a></li>
            <li class="has-submenu">
                <a href="/services/index.html">Services</a>
                    <ul class="submenu">
                        <li><a href="/services/Computer-Services/index.html">Computer Services</a></li>
                        <li><a href="/services/Video-and-Film-Digitization/index.html">Digitizing Videos and Film</a></li>
                        <li><a href="/services/Video-and-Film-Digitization/vhs-to-digital-conversion.html">Convert VHS to Digital</a></li>
                        <li><a href="/services/Computer-Services/Business/msp-service.html">MSP Services</a></li>
                        <li><a href="/services/CRM/index.html">CRM</a></li>
                        <li><a href="/services/Videography/index.html">Videography</a></li>
                        <li><a href="/services/Website-Design-and-Development/index.html">Website Design</a></li>
                        <li><a href="https://www.host.warfdesigns.com">Website Hosting</a></li>
                        <li><a href="/services/WordPress-Plugins/index.html">WordPress Plugins</a></li>
                    </ul>
            </li>
            <li id="HostingLogin" class="HostingLogin" style="display:none;"><a href="https://www.host.warfdesigns.com">Login</a></li>
        </ul>
    </nav>
</div>
